* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Works Sans", sans-serif;
  background: #f9f9f9;
}

.main-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;

  padding: 1rem 0;
}

img {
  width: 100px;
  height: auto;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}

form {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 5rem;
}

fieldset {
  padding: 1rem;

  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 1rem;
}

legend {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.3rem;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;

  border: 1px solid gray;
  border-radius: 10px;
}

textarea {
  min-width: 100px;
  max-width: 650px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="color"] {
  width: 40px;
  padding: 0 5px;
}

/*----------------------------Validações--------------------------------*/

input:invalid,
select:invalid {
  border-color: red;
}

input:valid,
select:valid {
  border-color: green;
}

/*----------------------------Botões--------------------------------*/

button {
  font-weight: bold;

  width: 200px;
  height: 40px;
  margin-right: 10px;

  background-color: white;

  border: 1px solid gray;
  border-radius: 10px;

  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: green;
  color: white;
}

button[type="reset"]:hover {
  background-color: red;
  color: white;
}
